$color:#fff;
$sec-color: #282c34;

/* Framework Part */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  padding: 10px;
  background-color: $color;
  color: $sec-color;
}
.header {
  overflow: hidden;
  padding-left: 20%;
  padding-top: 20px;
}
.header .title{
  float: left;
  width: 60%;
  font-weight: bolder;
}
.header .nav {
  float: left;
  width: 30%;
}

.msg{
  width: 40%;
  margin-left: 30%;
  text-align: center;
  margin-top: 20px;
}

.taskList {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.listHeader {
  margin-top: 150px;
  overflow: hidden;
}

.listBtn {
  float: right;
  margin-bottom: 25px;
}

.listTitle {
  float: left;
  margin-bottom: 25px;
}